# Configuración Postgres para profile "dev"
DB_URL=jdbc:postgresql://localhost:5432/DISTRIBUIDORA
DB_USER=postgres
DB_PASSWORD=12345

# JWT
JWT_SECRET=AQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyA=
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_INACTIVITY_TTL_MINUTES=30
JWT_REFRESH_ABSOLUTE_TTL_DAYS=7

